# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scienticts use are:

In [32]:
my_list = ["Python", "SQL", "R"]

In [33]:
for index, item in enumerate(my_list, start = 1):
    print(f"{index}. {item}")

1. Python
2. SQL
3. R

### Some of the popular libraries that Data Scienctists use are:

In [34]:
ds_libraries = ["Jupyter Notebook", "RStudio", "Spyder"]

In [35]:
for index, item in enumerate(ds_libraries, start = 1):
    print(f"{index}. {item}")

1. Jupyter Notebook
2. RStudio
3. Spyder

In [36]:
header = "Data Science Tools"
tools = ["Jupyter Notebook", "RStudio", "Spyder"]

In [37]:
print(f"+{'-' * (len(header) + 3)}+")
print(f"| {header} |")
print(f"+{'-' * (len(header) + 3)}+")

for tool in tools:
    print(f" | {tool} |")

print(f"+{'-' * (len(header) + 3)}+")

+---------------------+
| Data Science Tools |
+---------------------+
 | Jupyter Notebook |
 | RStudio |
 | Spyder |
+---------------------+

### Below are a few examples of evaluating arithmetic expressions in Python

In [38]:
# This is a simple arthmetic expression to multiply then add integers.   

(3 * 4) + 5

17

In [39]:
# This will convert 200 minutes to hours by dividing by 60. 

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

**Objectives:**

- List popular languages in Data Science
- List popular libraries for Data Science
- Evaluating arithmetic expressions in Python

## Author:
Brittany Smith